rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper functions
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    // User profile data is only accessible by the owner
    match /users/{userId} {
      allow read, update, delete: if isOwner(userId);
      allow create: if request.auth != null;
    }
    
    // All user subcollections are only accessible by the owner
    match /users/{userId}/{collection}/{docId} {
    	allow read, write, delete: if isOwner(userId);
      allow create: if isOwner(userId);
    }
  }
}
